/* =============
    Typography
============= */
// font-family: 'Montserrat', sans-serif;
// font-family: 'Rubik', sans-serif;

h1,h2,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $turquoise;
    font-size: rem-calc(24);
    text-align: center;
    @include md{
        font-size: rem-calc(40);
    }
    @include lg{
        font-size: rem-calc(48);
    }
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $turquoise;
    font-size: rem-calc(11);
    text-align: center;
    @include md{
        font-size: rem-calc(16);
    }
    @include lg{
        font-size: rem-calc(20);
    }
}

h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $violet;
    font-size: rem-calc(18);
    @include md{
        font-size: rem-calc(20);
    }
    @include lg{
        font-size: rem-calc(24);
    }
}

h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: $violet;
    font-size: rem-calc(16);
    text-align: center;
    @include md{
        font-size: rem-calc(18);
    }
    @include lg{
        font-size: rem-calc(20);
    }
}

h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 1, 500;
    color: $violet;
    font-size: rem-calc(18);
    line-height: rem-calc(30);
    text-align: justify;
    @include md{
        font-size: rem-calc(20);
        color: $seafoam;
        text-align: right;
    }
    @include lg{
        font-size: rem-calc(24);
        color: $seafoam;
    }
}

h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $turquoise;
    font-size: rem-calc(12);
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: $violet;
    font-size: rem-calc(14);
    @include md{
        font-size: rem-calc(16);
    }
    @include lg{
        font-size: rem-calc(18);
    }
}