/* =============
    Section 1
============= */
#section-1{

    aside{
        background-image: url("../img/section-1/maf1.jpg");
        background-position: top;
        background-size: cover;
        padding-bottom: 300px;
    
        @include md {
            padding-bottom: 440px;
        }
    
        @include lg {
            padding-bottom: 520px;
        }
    
        @include xl {
            padding-bottom: 600px;
        }
    }

    #title{
        background-color: $violet;
        padding: 10px 0;
    }

    #navigation{
            background-color: $lilac;
            padding: 10px 0;
            display: flex;
            justify-content: center;

            h3 {
                @include md{
                    padding: 0 40px;
                }
                @include lg{
                    padding: 0 45px;
                }
            }
    }
}

// header {
//     background-color: $white;
//     left: 0;
//     position: fixed;
//     top: 0;
//     width: 100%;

//     >div {
//         display: grid;
//         grid-template-areas: "logo burger"
//             "nav nav";
//         grid-template-columns: 80% auto;

//         @include lg {
//             grid-template-areas: "logo nav";
//             grid-template-columns: 20% auto;
//         }

//         #logo-container {
//             grid-area: logo;
//             padding: 20px;
//         }

//         #burger-container {
//             align-items: center;
//             display: flex;
//             grid-area: burger;
//             justify-content: flex-end;
//             padding: 20px;

//             @include lg {
//                 display: none !important;
//             }

//             i {
//                 cursor: pointer;
//             }
//         }

//         #nav-container {
//             background-color: $light-grey;
//             display: none;
//             grid-area: nav;
//             padding: 20px;

//             @include lg {
//                 background-color: $white;
//                 display: block !important;
//             }
//         }
//     }
// }