/* =============
    Section 3
============= */
#section-3 {
    display: grid;
    grid-template-areas: ". section-3 .";
    grid-template-columns: 15px auto 15px;
    margin-top: 40px;

    @include md {
        grid-template-columns: 70px auto 70px;
        margin-top: 60px;
    }

    @include lg {
        grid-template-columns: 40px auto 40px;
        margin-top: 80px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
	}

    >div {
        grid-area: section-3;

        #cards {
            ul {
                display: grid;
                gap: 20px;
                list-style: none;
                padding-left: 0;

                p {
                    text-align: center;
                    margin-top: 10px;
                }

                @include md {
                    display: grid;
                    grid-template-areas: "g-1 g-1 g-2 g-2"
                        ". g-3 g-3 .";
                    grid-template-columns: repeat(4, 1fr);
                }

                @include lg {
                    grid-template-areas: "g-1 g-2 g-3";
                    grid-template-columns: repeat(3, 1fr);
                }

                li {
                    background-color: $lilac;

                    div {
                        background-size: cover;
                        height: 220px;
                    }

                    section {
                        padding: 20px;
                    }
                }

                #card-1 {
                    @include md {
                        grid-area: g-1;
                    }

                    div {
                        background-image: url("../img/section-3/maf3.jpg");
                    }
                }

                #card-2 {
                    @include md {
                        grid-area: g-2;
                    }

                    div {
                        background-image: url("../img/section-3/maf4.png");
                    }
                }

                #card-3 {
                    @include md {
                        grid-area: g-3;
                    }

                    div {
                        background-image: url("../img/section-3/maf5.jpg");
                    }
                }
            }
        }
    }
}