/* =============
    Section 4
============= */
#section-4{
    margin-top: 40px;

    @include md {
        margin-top: 60px;
    }

    @include lg {
        margin-top: 80px;
    }

    margin-left: 15px;
    margin-right: 15px;

    aside{
        background-image: url("../img/section-4/maf6.jpg");
        background-position: top;
        background-size: cover;
        background-position: bottom;
        height: 50vh;

        @include md{
            height: 65vh;
        }

        @include lg{
            height: 80vh;
        }
    }

    h5{
        @include md{
        margin: -80px 20px 0 0;
        }
    }
}