/* =============
    Section 4
============= */
#section-4 {
    margin-top: 40px;

    @include md {
        margin-top: 60px;
    }

    @include lg {
        margin-top: 80px;
    }

    aside {
        background-image: url("../img/section-4/maf6.jpg");
        background-position: bottom;
        background-size: cover;
        height: 50vh;

        @include md {
            height: 65vh;
        }

        @include lg {
            height: 80vh;
        }

        @include xl{
            background-position: center;
        }
    }

    h5 {
        @include md {
            margin: -200px 20px 0 0;
            padding-left: 70%;
        }

        @include lg {
            margin-top: -220px;
        }

        @include xl {
            padding-left: 72%;
            margin: -260px 50px 0 0;
        }
    }
}