/* =============
    Footer
============= */
footer{
    background-color: $violet;
    p{
        color: $turquoise;
        line-height: rem-calc(16);
        font-size: rem-calc(11);
        @include md{
            font-size: rem-calc(12);
        }
    }
}