/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        text-align: right;

        @include md {
            display: flex;
        }

        li {
            a:link,
            a:visited {
                color: $violet;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $teal;
            }
        }
    }
}